{% extends 'main.html' %}

{% block content %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Open ! </strong> Contact Us Page
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">
        <h1>Preview your About Us Page</h1>
        <hr>
        <h3>You Are Contect Me Using My E-mail ID ...</h3>
        <ul>
            <li><b>E-mail : </b>bravip1226@gmail.com</li>
        </ul>
    </div>

{% endblock %}



