<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextUtils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Favicon (16x16 pixels) -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle cx='50' cy='50' r='50' fill='purple'/><text x='50%' y='50%' dominant-baseline='middle' text-anchor='middle' fill='white' font-size='50'>T</text></svg>">

<!-- Apple Touch Icon (180x180 pixels) -->
<link rel="apple-touch-icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180 180'><circle cx='90' cy='90' r='90' fill='purple'/><text x='50%' y='50%' dominant-baseline='middle' text-anchor='middle' fill='white' font-size='90'>T</text></svg>">

</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:white;">
        <div class="container-fluid">
            <div class="logo">
                <div class="icon">
                    <span>T</span>
                </div>
                <span class="text">Text</span>
                <span class="utils">Utils</span>
            </div>
            </a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; 2023 TextUtils. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>